################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GitUpload-Sample/GitUpload-Sample/.vs/GitUpload-Sample/v14/.suo
